@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ff5400;
  --content-color: #5a5a5d;
}

html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* common style is here  */
main section {
  margin-bottom: 10rem;
}

.primary-color {
  color: var(--main-color);
}

.primary-btn {
  padding: 1.6rem 3rem;
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--main-color);

  & .fa-solid {
    margin-right: 0.8rem;
  }
}

.common-heading {
  color: #131318;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}

.common-heading-second {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}

.common-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

/* nav style is here  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0 2.5rem;
}

.nav-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-logo h2 {
  font-weight: 800;
  font-size: 3rem;
}

.nav-content ul,
.nav-mobile-content ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

.nav-content ul a,
.nav-mobile-content ul a {
  text-decoration: none;
  color: #424247;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-mobile-content {
  display: none;
}

/* banner style is here  */
.banner-container {
  height: 47rem;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group\ 13.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;

  display: grid;
  place-items: center;
  text-align: center;
}

.banner-info h1 {
  font-size: 64px;
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
}

.banner-info p {
  max-width: 65rem;
  color: white;
  padding: 2.4rem 0 4.5rem;
  margin: 0 auto;
}

.banner-info-filed {
  display: flex;
  gap: 2.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1.6rem;
}

input,
select {
  width: 17rem;
  padding: 1.6rem;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 8px;
  border: 0;
  outline: 0;
}

/* our popular tour style is here  */
.tours-container {
  display: flex;
  gap: 5rem;
}

.tour-info {
  flex: 1;
}

.tour-info p,
.tour-info ul {
  color: #5a5a5d;
  line-height: 2.6rem;
}

.tour-info p {
  margin: 2.4rem 0;
}

.tour-info ul {
  padding-left: 2rem;
}

.tour-img {
  text-align: right;
  flex: 1;
}

.tour-img img {
  width: 100%;
}

/* your Destination style is here  */
.destination-info p,
.why-choose-us p,
.deals-discounts p {
  text-align: center;
  max-width: 65rem;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.destination-img h3 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  height: 100%;
  font-weight: 700;
}

.destination-img {
  margin-top: 4.8rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
}

.destination-img img {
  width: 100%;
  object-fit: cover;
}

.Maldives {
  grid-column: 1 / span 6;
  height: 25.5rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 5.png);
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.Indonesia {
  grid-column: 7 / span 6;
  height: 25.5rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 8.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.Srilanka {
  grid-column: 1 / span 4;
  height: 24.3rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 6.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.North-America {
  grid-column: 5 / span 5;
  height: 24.3rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 7.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.Kashmir {
  grid-column: 10 / span 3;
  height: 24.3rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 9.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.Bangladesh {
  grid-column: 1 / span 5;
  height: 25.5rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 11.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.Bandarban {
  grid-column: 6 / span 7;
  height: 25.5rem;
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(../Images/Rectangle\ 10.png);
  background-size: cover;
  border-radius: 16px;
  background-repeat: no-repeat;
}

/* why-choose-us style is here  */
.cards p,
.newsletter-info p {
  color: #5a5a5d;
}

.card-col-1 {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  border-radius: 16px;
  padding: 2.8rem;
  border-radius: 16px;
}

.card h4 {
  margin: 2.8rem 0 1.3rem;
}

.card img {
  width: 10%;
}

.card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Popular Tour Places style is here  */
.places-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.side-arrow {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 1.3rem;
  gap: 0.5rem;
}

.fa-arrow-left,
.fa-arrow-right {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff5400;
  color: white;
}

.place-card {
  padding: 2rem;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.place-card:hover {
  scale: 1.1;
}

.place-card img {
  width: 100%;
  border-radius: 10px;
}

.place-card-info {
  padding: 2rem;
}

.place-card-info h3 {
  font-size: 2rem;
  font-weight: 800;
}
.place-card-info h5 {
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 0 2rem;
  color: var(--content-color);
}
.place-card-info button {
  margin-top: 1.5rem;
}

/* deals-discounts style is here  */
.deal-dis-1,
.deal-dis-2 {
  height: 47rem;
  width: 100%;
  background-image: url(../Images/Group\ 40.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  margin-bottom: 2rem;
}

.deal-dis-info {
  position: absolute;
  bottom: 12%;
  right: 6%;
  border-radius: 16px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4.2rem 5rem 4.2rem 4.2rem;
  width: 50%;
}

#deal-dis-info2 {
  bottom: 12%;
  left: 6%;
}

.deal-heading {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.fa-clock,
.fa-people-group,
.fa-location-dot {
  font-size: 1.8rem;
  color: rgba(255, 84, 0, 1);
  margin-right: 0.8rem;
}

.icon-info {
  display: flex;
  align-items: center;
}

.icon-info p {
  color: #5a5a5d;
  font-size: 1.4rem;
  font-weight: 400;
}

.deal-dis-info p {
  padding: 1rem 0;
  max-width: 38rem;
}
.deal-dis-info h4 {
  color: #ff5400;
  font-size: 1.7rem;
  font-weight: 800;
  margin: 1rem 0 2rem;
}

/* place to get lost style is here  */
.place-to-get-lost {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.tour-video video {
  width: 100%;
  border-radius: 16px;
}

/* newsletter style is here  */
.newsletter-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.newsletter-info {
  padding: 3.5rem;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.newsletter-info p {
  max-width: 30rem;
  margin-top: 1.8rem;
}

.newsletter-info hr {
  margin: 3rem 0;
  border: 1px solid rgba(19, 19, 24, 0.1);
}

form input {
  display: block;
  color: rgba(19, 19, 24, 0.3);
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  width: 100%;
  padding: 1.3rem 1.7rem;
  margin-bottom: 1.8rem;
}

form button {
  width: 100%;
}

.newsletter-img {
  position: relative;
}

.newsletter-img img {
  width: 100%;
  height: 100%;
}

.newsletter-sale {
  text-align: center;
  padding: 3rem 3.8rem;
  background-color: var(--main-color);
  border-radius: 16px;
  position: absolute;
  right: 2%;
  transform: rotate(-25deg);
  bottom: 15%;
  /* width: 45%; */
}

.newsletter-sale h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.newsletter-sale h2 {
  color: #fff;
  font-size: 2.7rem;
  font-weight: 800;
}

/* footer style is here  */
footer {
  background-color: rgba(19, 19, 24, 0.05);
}

.footer-info {
  align-items: center;
  padding: 9.3rem 0;
}

.footer-logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.footer-logo h2 {
  font-weight: 800;
  font-size: 2.5rem;
  align-items: center;
}

.footer-logo img {
  width: 80%;
}

.footer-info p {
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.3rem;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  gap: 2rem;
  margin-top: 2.8rem;
}

.footer-info hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
  max-width: 74rem;
  margin: 4rem auto;
}

.footer-info p:last-of-type {
  color: #131318;
  font-size: 1.6rem;
  font-weight: 300;
}

/* responsive media quarry style is here  */

/* medium device media quarry style is here  */
@media screen and (max-width: 992px) {
  html {
    font-size: 56.25%;
  }

  .container {
    width: 100%;
  }

  .nav-content {
    display: none;
  }
  .nav-mobile-content {
    display: block;
    font-size: 3rem;
  }

  .banner-container {
    background-position: center;
    padding: 2rem;
  }

  .banner-info h1 {
    font-size: 5rem;
  }

  .banner-info-filed input,
  .banner-info-filed select {
    width: 15rem;
  }

  .tour-img img {
    width: 100%;
  }

  .tours-container {
    flex-direction: column;
  }

  .places-cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
  }

  .deal-dis-1,
  .deal-dis-2 {
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }

  .deal-dis-info {
    width: 88%;
    bottom: 10%;
  }

  .side-arrow {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .banner-info-filed input,
  .banner-info-filed select {
    width: 12rem;
  }
  .card-col-1 {
    flex-direction: column;
  }

  .card-3 {
    width: 100%;
  }

  .newsletter-container {
    flex-direction: column;
  }
}

/* phone device media quarry style is here  */
@media screen and (max-width: 600px) {
  main section {
    margin-bottom: 5rem;
  }

  .nav-logo img {
    width: 90%;
  }

  .nav-logo h2 {
    font-size: 2.2rem;
  }

  .banner-info h1 {
    font-size: 3rem;
  }

  .banner-info-filed {
    flex-direction: column;
  }

  .banner-container {
    height: auto;
    background-position: center;
    padding: 2rem;
  }

  .banner-info-filed input,
  .banner-info-filed select {
    width: 100%;
  }

  .destination-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .Maldives,
  .Bandarban,
  .Indonesia,
  .Srilanka,
  .North-America,
  .Kashmir,
  .Bangladesh {
    grid-column: 1/ 13;
  }

  .card img {
    width: 15%;
  }

  .place-card:hover {
    scale: 1.1;
    box-shadow: none;
  }

  .places-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .deal-dis-info,
  #deal-dis-info2 {
    width: 88%;
    bottom: 6%;
  }

  .deal-dis-1,
  .deal-dis-2 {
    height: 60rem;
  }

  .newsletter-sale h2 {
    font-size: 2rem;
  }

  .newsletter-sale h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 430px) {
  .common-heading {
    font-size: 2.7rem;
  }

  .deal-dis-info,
  #deal-dis-info2 {
    bottom: 4%;
  }

  .newsletter-sale {
    padding: 2rem 2.5rem;
    bottom: 18%;
  }

  .newsletter-sale h2 {
    font-size: 2rem;
  }

  .newsletter-sale h3 {
    font-size: 1.7rem;
  }
}
